* {
    box-sizing: border-box;
  }

  .pages {
    max-width: 1000px;
    padding: 5px;
    margin: 0 auto;
    margin-left: 25%;
  }

  .searchBox {
    max-width: 1000px;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 10%;
    margin-bottom: 5%;
}

  .row {
    max-width: 1000px;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 auto;
  }

  .search {
    margin-bottom: 5%;
  }

  .searchText {
    padding-left: 40%;
  }

  .titleText {
    margin-left: 20%;
  }

  .row::before,
  .row::after {
    display:table;
    content: '';
  }

  .row::after {
    clear: both;
  }

  .col-2 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
    width: 100%;
  }

  .dropMenu {
    margin-left: 6%;
    margin-bottom: 10%;
  }



  @media only screen and (min-width: 640px) {
    .col-2 {
        width: 33.333%;
      }
    .pages {
        margin-left: 40%;
    }
    .titleText {
        padding-left: 15%;
    }
    .searchText {
        padding-left: 1%;
    }
    .dropMenu {
        margin-left: 20%;
        margin-bottom: 1%;
        width: 1%;
    }
    .searchBox {
        margin-left: 15%;
        margin-bottom: 1%;
    }
    .search {
        margin-bottom: 2%;
        }
    .searchBar {
        margin-bottom: 2%;
        margin-left: 15%;
        width: 65%;
    }
    .card-image {
        height: 210px;
    }

    ul {
        padding-right: 8%;
    }

    .navMenu1::after, .navMenu2::after {
        content: "|";
        margin-left: 8%;
        color: white;
      }
  }