* {
    box-sizing: border-box;
  }

  .pages {
    max-width: 1000px;
    padding: 5px;
    margin: 0 auto;
    margin-left: 25%;
  }

  .row {
    max-width: 1000px;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 auto;
  }

  .search {
    margin-bottom: 5%;
  }

  .row::before,
  .row::after {
    display:table;
    content: '';
  }

  .row::after {
    clear: both;
  }

  .col-2 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
    width: 100%;
  }

  .dropMenu {
    margin-left: 8%;
  }

  #navbar {
      border-radius: 5px;
      width: 100%; 
      flex: 0 1 100%;
      flex-wrap: nowrap;
      display: flex;
  }
  

  @media only screen and (min-width: 900px) {
    .col-2 {
        width: 33.333%;
      }
    .pages {
        margin-left: 40%;
    }
    .dropMenu {
        margin-left: 10%;
        width: 1%;
    }
    
    .search {
        margin-bottom: 2%;
        }
    .searchBar {
        margin-bottom: 2%;
        width: 50%;
    }
    .card-image {
        height: 210px;
    }

    .navMenu1::after, .navMenu2::after {
        content: "|";
        margin-left: 8%;
        color: white;
      }
  }

  @media only screen and (min-width: 600px) and (max-width: 900px) {
    .col-2 {
      width: 50%;
    }

    .row {
      margin: 5%;
    }
    .pages {
        margin-left: 40%;
    }

  .card-image {
    height: 235px;
    }

  .dropMenu {
    margin-left: 18%;
    margin-bottom: 1%;
    width: 1%;
    }

    .searchBox {
      margin-left: 15%;
      margin-bottom: 1%;
  }
  .search {
      margin-bottom: 2%;
      }
  .searchBar {
      margin-bottom: 2%;
      margin-left: 15%;
      width: 65%;
  }
  .card-image {
      height: 210px;
  }

  .navMenu1::after, .navMenu2::after {
      content: "|";
      margin-left: 8%;
      color: white;
    }
    
    
  }