body {
    color: black;
}

  a {
    text-decoration: none;
  }


  .navMenu1, .navMenu2, .navMenu3 {
      font-size: 20px;
      padding-right: 7px;
  }
  
  .logo {
    height: 60px;
    width: 175px;
  }

  .logo:hover {
    opacity: 0.7;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a:hover {
    color: red;
  }

  .container {
    background-color: red;
    height: 60px;
    margin-bottom: 1%;
  }
  
  .card {
    border: 1px grey solid;
    margin-bottom: 20px;
  }

  a:hover {
    color: black;
  }

  .card-image {
      width: 100%;
      padding: 5px;
  }

  .card-content {
      padding: 10px;
  }

  .card-content h3 {
      margin-top: 0;
      margin-bottom: 0;
  }

  .card-content p {
      margin: 4px 0;
  }

  input {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid gray;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-top: 2%;
    float: right;
  }

  .titleText, .searchText {
      color:  rgb(82, 52, 52);
      font-size: 40px;
      display: inline;
  }

  .dropButton {
      color: white;
      font-weight: bold;
      border: none;
      background-color: transparent;
      margin-top: 20%;
  }

  .dropMenu {
      position: relative;
      display: inline-block;
  }

  .drop-content {
      background-color:  rgb(82, 52, 52, 0.945);
      min-width: 160px;
      position: absolute;
      z-index: 1;
      display: none;
      box-shadow: 5px 10px rgba(0, 0, 0, 0.788);
      
  }

  .drop-content a {
      padding: 12px 16px;
      display: block;
      text-decoration: none;
  }

  .dropMenu:hover .drop-content {
      display: block;
      
  }

  

  @media only screen and (min-width: 900px) {

    .side-content-sm {
      flex: 0 0 5%;
    }

    .row {
      display: flex;
    }

    .wrapper1 {
      margin-top: 5%;
    }

    .searchBox {
      margin-left: 55%;
    }

    .main-content-lg {
      flex: 0 1 100%;
  }

    .list {
      margin-left: 1%;
      padding-left: 0;
    }

    .dropButton {
      margin-top: 240%;
    }

  }

