body {
    color: black;
    background-color: rgb(82, 52, 52);
}

nav {
    background-color: white;
    margin-bottom: 40px;
  }
  
  a {
    text-decoration: none;
    color: brown;
  }
  
  ul {
    float: right;
  }

  .navMenu1, .navMenu2, .navMenu3 {
      font-size: 20px;
      padding-right: 7px;
  }
  
  .logo {
    height: 60px;
    width: 175px;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a:hover {
    color: black;
  }

  video {
      opacity: 0.3;
      object-fit: fill;
  }

